@theme {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  --animate-float: float 2s ease-in-out infinite;
}

@theme {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
}

@theme {
  /* ... 기존 marquee 설정들 ... */

  /* 점점 커지며 사라지는 효과 */
  --animate-ripple-infinite: ripple 2s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
}
