spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  cloud:
    aws:
      region:
        static: ${AWS_REGION:ap-northeast-2}
      credentials:
        access-key: ${AWS_ACCESS_KEY:dummy-access-key}
        secret-key: ${AWS_SECRET_KEY:dummy-secret-key}
      s3:
        bucket: ${AWS_S3_BUCKET_NAME:dummy-bucket}
