name: Backend CD

on:
  push:
    branches: [ "develop" ]
    paths:
      - 'backend/**'
  # 테스트를 위한 수동 실행 가능
  workflow_dispatch:

defaults:
  run:
    working-directory: ./backend

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      # CI에서 이미 검증되었다고 가정 -x test로 스킵하여 배포 속도를 높임
      - name: Build with Gradle
        run: ./gradlew clean build -x test

      # jar를 EC2로 전송 및 배포 스크립트 실행
      - name: Deploy to EC2
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          set -x
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          
          rm -f $SSH_AUTH_SOCK
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          
          echo "${{ secrets.EC2_SSH_KEY }}" | tr -d '\r' | ssh-add - || { echo "SSH Key Add Failed"; exit 1; }
          
          ssh-keyscan -H -p ${{ secrets.EC2_PORT }} ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts || \
          (echo "::error::EC2 접속 실패: ssh-keyscan을 수행할 수 없습니다. 호스트 주소와 포트를 확인하세요." && exit 1)
          
          echo "${{ secrets.ENV_FILE }}" > .env
          echo "SPRING_PROFILES_ACTIVE=${{ vars.SPRING_PROFILES_ACTIVE }}" >> .env
          
          scp -P ${{ secrets.EC2_PORT }} .env ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:${{ secrets.DEPLOY_DIR }}/.env
          scp -P ${{ secrets.EC2_PORT }} ./build/libs/app.jar ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:${{ secrets.DEPLOY_DIR }}/app.jar
          ssh -p ${{ secrets.EC2_PORT }} ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} "chmod +x ${{ secrets.DEPLOY_DIR }}/deploy.sh && ${{ secrets.DEPLOY_DIR }}/deploy.sh"
